* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #0f172a;
}

.navy-background {
  height: 100%;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}

.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    600px at var(--mouseX) var(--mouseY),
    rgba(29, 78, 216, 0.15),
    transparent 80%
  );
  z-index: 30;
  transition: background 0.3s ease; /* Smooth transition effect */
  will-change: background; /* Optimization hint for performance */
}

.text-containers {
  display: flex;
  flex-direction: row;
  z-index: 40;
  gap: 20px;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.intro-text {
  font-size: 2rem;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.icon-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.name-header {
  font-size: 2rem;
}

.title-header {
  font-size: 1.5rem;
}

.description {
  font-size: 1rem;
}
